/*CARRUSEL*/
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: unset; /* Elimina el posicionamiento desde abajo */
}
.carousel-item {
  height: 550px; /* Ajusta la altura según tus necesidades */
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  bottom: unset; /* Elimina el posicionamiento desde abajo */
}

.carousel-item img {
height: 100%;
object-fit: cover;
}

/* SOBRE NOSOTROS */
.section-title {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
  
}

.section-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: 1px;
  background: #DA9F5B;
}

#aboutus{
  color: aqua;

}

.footer-area {
  padding-top: 50px;
  padding-bottom: 0px;
  position: relative;
  background: rgba(0, 0, 0, 0.6); /* Fondo oscuro semi-transparente */
  color: white;
  padding: 30px 0;
}

.bg-f {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20230416/pngtree-dessert-golden-gourmet-image_2421498.jpg'); /* Reemplaza 'path-to-your-background-image.jpg' con la ruta a tu imagen */
  background-attachment: scroll;
  background-clip: initial;
  background-color: rgba(102, 184, 91, 0);
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-f::before {
  background: #010101;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}

.footer-area .container {
  position: relative;
  z-index: 1;
}

.footer-area h3 {
  color: #d4af37; /* Color dorado */
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px dashed rgba(163, 96, 96, 0.5);
  margin-bottom: 10px;
}

.footer-area p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding-bottom: 10px;
}

.footer-area p.lead {
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-area p.lead a {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-area p.lead a:hover {
  color: #d0a772;
}

.footer-area p a {
  font-size: 18px;
  color: #ffffff;
}

.footer-area p a:hover {
  color: #d0a772;
}

.f-social {
  padding-bottom: 10px;
  margin-right: 25px;
  margin: 0px;
  margin-top: 20px;
}

.f-social li a {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 10px;
}

.f-social li a:hover {
  color:linear-gradient(to right, #ffedb4, #ffdc8b, #fff1c6);/* Color dorado */
}

.icon-content {
  text-align: center;
  padding: 20px 0;
}

.icon-content .icon-link {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
  transition: color 0.3s;
}

.icon-content .icon-link:hover {
  color: #d4af37; /* Color dorado */
}

.copyright {
  
  margin-bottom: -100px;
  position: relative;
  display: block;
  background-color: #0000009d;
  border-top: 1px dashed #c3a687; /* Color café claro */
  padding: 30px 0;
  z-index: 1;
  color: #c3a687; /* Color café claro */
}

.copyright .company-name {
  font-size: 16px;
  text-align: center;
}

.copyright .company-name a {
  font-size: 16px;
  color: #d4af37; /* Color dorado */
}
.card-img {
  height: 200px; /* Ajusta este valor según tus necesidades */
  width: auto;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}


.card {
        margin-bottom: 20px;
}




















