  /* Estilos adicionales */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 1000;
    right: 10px;
}

.dropdown-menu a {
    padding: 12px 16px;
    display: block;
    color: #000000;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #ffe8aa;
}

.relative {
    position: relative;
}

.horizontal-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    z-index: 1000;
    right: 0;
    top: 100%;
}

.horizontal-dropdown .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.horizontal-dropdown .dropdown-menu a {
    padding: 12px 16px;
    display: block;
    color: #000000;
    text-decoration: none;
}

.horizontal-dropdown .dropdown-menu a:hover {
    background-color: #ffe8aa;
}

.dropdown-trigger:hover .horizontal-dropdown {
    display: flex;
}