
.navbar_gradient {
    background: linear-gradient( to right, #f7e199, #f7e1ae, #fbe49d);
    
}

.font-dancing {
    font-family: 'Dancing Script', cursive;
    text-shadow: 
        1px 1px 0 #f5d878,  
        -1px -1px 0 #f5d878,
        1px -1px 0 #f5d878,
        -1px 1px 0 #f5d878;
}